In [ ]:
#Social_Network_Ads.csv

**Import libraries**

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

**Importing the dataset**

In [2]:
df = pd.read_csv("Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df.drop("User ID", axis=1,inplace=True)
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [4]:
#Encoding the Gender feature
df["Gender"]=df["Gender"].replace({"Male":0,"Female":1})
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       0   19            19000          0
1       0   35            20000          0
2       1   26            43000          0
3       1   27            57000          0
4       0   19            76000          0

**Splitting the dataset into the Training set and Test set**

In [5]:
X=df.iloc[:,:3].values
y=df.iloc[:,3].values

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

**Feature Scaling**

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

**Fitting SVM to the Training set**

Kernelling
mapping data into a higher dimensional space Kernel function
The mathematical function used for the transformation Kernel function types:
Linear
Polynomial
Radial basis function (RBF)
Sigmoid

In [7]:
from sklearn import svm
model= svm.SVC(kernel='rbf', gamma='scale')
model.fit(X_train, y_train)

SVC()

**Predicting the Test set results**

In [8]:
y_pred = model.predict(X_test)
y_pred[:20]

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0],
      dtype=int64)

**Making the Confusion Matrix**

In [9]:
model.score(X_test,y_test)

0.9083333333333333

In [10]:
print("Confusion Matrix: \n",confusion_matrix(y_test, y_pred))

Confusion Matrix:
 [[72  7]
 [ 4 37]]

In [11]:
pd.crosstab(y_test, y_pred, rownames = ['Actual'], colnames =['Predicted'], margins = True)

Predicted   0   1  All
Actual
0          72   7   79
1           4  37   41
All        76  44  120

In [12]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.91      0.93        79
           1       0.84      0.90      0.87        41

    accuracy                           0.91       120
   macro avg       0.89      0.91      0.90       120
weighted avg       0.91      0.91      0.91       120